@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('~assets/css/fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 700;
    src: url('~assets/css/fonts/open-sans/OpenSans-Bold.ttf');
}