<div class="card">
    <div class="card-header">
        <i class="m-icon">location_on</i>
        <span>Checkpunkt: {{form.value.name}}</span>
    </div>
    <div class="card-content container-fluid">
        <form [formGroup]="form">
            <app-input type="text" id="id" label="ID" formControlName="_id"></app-input>
            <app-input type="text" id="name" label="Name" formControlName="name"></app-input>
            <app-input type="textarea" id="remarks" label="Bemerkungen" formControlName="remarks"></app-input>
        </form>
    </div>
    <div class="card-footer clearfix">
        <button routerLink="/locations">
            <i class="m-icon">arrow_back</i>
            <span>Zurück zur Übersicht</span>
        </button>
        <button (click)="save()" class="float-right" [disabled]="form.invalid">
            <i class="m-icon">save</i>
            <span>Speichern</span>
        </button>
    </div>
</div>