<nav>
    <a mat-button routerLink="/">
        <i class="m-icon">home</i>
        <span>Home</span>
    </a>
    <a mat-button routerLink="/planned">
        <i class="m-icon">alarm</i>
        <span>Kontrollen</span>
    </a>
    <a mat-button routerLink="/history">
        <i class="m-icon">history</i>
        <span>Historie</span>
    </a>
    <a mat-button routerLink="/locations">
        <i class="m-icon">location_on</i>
        <span>Checkpunkte</span>
    </a>
    <a mat-button routerLink="/statistics">
        <i class="m-icon">show_chart</i>
        <span>Statistiken</span>
    </a>
    <a mat-button routerLink="/settings">
        <i class="m-icon">settings</i>
        <span>Einstellungen</span>
    </a>
</nav>