<li>
    <label for="{{id}}">{{label}}</label>
    <div [ngSwitch]="type">
        <textarea *ngSwitchCase="'textarea'" id="{{id}}" #textarea placeholder="{{placeholder}}" [readOnly]="readonly" (input)="onChange($event, textarea.value)">{{value}}</textarea>
        <input *ngSwitchCase="'date'" #input type="text" placeholder="{{placeholder}}" value="{{value | amTimeAgo}}" [readOnly]="readonly" (input)="onChange($event, input.value)">
        <input *ngSwitchDefault id="{{id}}" #input type="{{type}}" placeholder="{{placeholder}}" value="{{value}}" [readOnly]="readonly" (input)="onChange($event, input.value)">
    </div>
</li>