* {
    font-family: 'Open Sans', 'Segoe UI', Arial, Helvetica, sans-serif;
}

body {
    background: #e9e9e9;
    font-size: 14px;
    color: #333;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

$card-border-color: #ddd;
$card-padding-large: 16px;
$card-padding-small: 6px;
.card {
    background: #fff;
    border: solid 1px $card-border-color;
    border-radius: 2px;
    & .card-header {
        position: relative;
        background-color: #f6f6f6;
        border-bottom: solid 1px $card-border-color;
        padding: $card-padding-small $card-padding-large;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        & .m-icon {
            position: absolute;
            top: 50%;
            margin-top: -12px;
            margin-left: -5px;
            +span {
                margin-left: 24px;
            }
        }
    }
    & .card-content {
        padding: $card-padding-large;
        overflow: auto;
        &.no-padding {
            padding: 0;
        }
        & table {
            & th {
                text-align: left;
            }
            & th,
            & td {
                line-height: 38px;
                padding: 0 $card-padding-large;
                border-bottom: solid 1px $card-border-color;
                &.buttons {
                    line-height: 0;
                    &.right {
                        padding-right: 5px;
                    }
                }
            }
            & tr:last-child td {
                border-bottom: none;
            }
        }
    }
    & .card-footer {
        position: relative;
        background-color: #f6f6f6;
        border-top: solid 1px $card-border-color;
        padding: $card-padding-small;
        font-weight: bold;
        font-size: 16px;
    }
}

button {
    padding: 3px 10px;
    font-size: 12px;
    line-height: 20px;
    background-color: #f6f7f9;
    color: #4b4f56;
    border: 1px solid #ced0d4;
    border-radius: 2px;
    box-sizing: content-box; // font-weight: bold;
    cursor: pointer;
    user-select: none;
    text-align: center;
    position: relative; // display: inline-block;
    &:hover:not(:disabled) {
        background-color: #e9ebee;
    }
    &:active:not(:disabled) {
        background-color: #dddfe2;
        border-color: #bec2c9;
    }
    &:focus {
        outline: none;
    }
    &:disabled {
        cursor: default;
        background-color: #e6e6e6;
        color: #aaa;
    }
    & i.m-icon {
        position: absolute;
        left: 5px;
        font-size: 18px;
        top: 50%;
        margin-top: -9px;
        +span {
            margin-left: 18px;
        }
    }
}

.button-row {
    display: inline-flex;
    white-space: nowrap;
    & button {
        flex: 0 1 auto;
        top: 0;
        &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
        }
    }
    &:after {
        @include clearfix();
    }
}