.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix:after {
    @include clearfix();
}

.warning {
    color: #735c0f;
    background-color: #fffbdd;
    border-color: rgba(27,31,35,0.15);
}