<div class="card-container">
    <input id="filter" type="text" #filter [(ngModel)]="filterValue" placeholder="Suchen ...">
</div>
<table>
    <thead>
        <tr>
            <th *ngFor="let column of configuration.columns">{{column.title}}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="warning center" *ngIf="filteredDataSource.length === 0">
            <td [attr.colspan]="configuration.columns.length + 1">Keine Daten gefunden.</td>
        </tr>
        <tr *ngFor="let element of filteredDataSource">
            <td *ngFor="let column of configuration.columns">{{element[column.property]}}</td>
            <td class="buttons right">
                <div class="button-row">
                    <button (click)="edit(element)">
                        <i class="m-icon">edit</i>
                        <span>Bearbeiten</span>
                    </button>
                    <button (click)="showDeleteDialog(element)">
                        <i class="m-icon">delete</i>
                        <span>Löschen</span>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<app-dialog #deleteDialog title="Sind Sie sicher?" [isOpen]="elementToDelete" (closed)="elementToDelete = null">
    <p>Soll das Objekt
        <b>{{elementToDelete ? elementToDelete[configuration.titleProperty] : ''}}</b> wirklich gelöscht werden?</p>
    <div class="right">
        <button tabindex="2" color="warn" (click)="delete(elementToDelete)">Löschen</button>
        <button tabindex="1" (click)="deleteDialog.closeDialog()">Abbrechen</button>
    </div>
</app-dialog>